CHURCH_KEY=NEFC
CHURCH_NAME=NEFC
CHURCH_LOGO=NEFC.png

DEBABEL_CLIENT_URL=<url of the client webapp, where it is hosted to be accessed on phones>
DEEPGRAM_PROJECT=<deepgram project>
DEEPGRAM_API_KEY=<deepgram api key>
FIREBASE_API_KEY=<firebase api key>
GOOGLE_APPLICATION_CREDENTIALS=google-api-credentials.json
USE_GOOGLE_TRANSLATE_SUBSCRIPTION=true

# Safety for timing out the deepgram and google translate stream
SERVICE_TIMEOUT=90