CHURCH_KEY=NEFC
CHURCH_NAME=NEFC
CHURCH_LOGO=NEFC.png
CHURCH_GREETING=We're here for you!
CHURCH_MESSAGE=["Because of God's love for us, we love others.  Our vision is to be a blessing to the local community, serving local needs.", "We hope you enjoy this translation service.  If there is any other way we can help you, or if you need someone to talk to, please talk to one of the ushers."]
CHURCH_ADDITIONAL_WELCOME=Everyone welcome
HOST_LANGUAGE=en-US
TRANSLATION_LANGUAGES=[{"name": "Arabic", "locale": "ar-001"},{"name": "English", "locale": "en-US"},{"name": "French", "locale": "fr-FR"},{"name": "German", "locale": "de-DE"},{"name":"Spanish", "locale":"es-US"}, {"name": "Ukranian", "locale":"uk-UA"}]

DEBABEL_CLIENT_URL=<url of the client webapp, where it is hosted to be accessed on phones>
DEEPGRAM_PROJECT=<deepgram project>
DEEPGRAM_API_KEY=<deepgram api key>
FIREBASE_API_KEY=<firebase api key>
GOOGLE_APPLICATION_CREDENTIALS=google-api-credentials.json
USE_GOOGLE_TRANSLATE_SUBSCRIPTION=true

# Safety for timing out the deepgram and google translate stream
SERVICE_TIMEOUT=60