CHURCH_KEY=NEFC
DEBABEL_SERVER_NAME=<url of this server, where it is hosted>
DEEPGRAM_PROJECT=<deepgram project>
DEEPGRAM_API_KEY=<deepgram api key>
FIREBASE_API_KEY=<firebase api key>
GOOGLE_APPLICATION_CREDENTIALS=google-api-credentials.json
USE_GOOGLE_TRANSLATE_SUBSCRIPTION=true