<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Realtime Communication Landing Page</title>
  </head>
  <body>
    <h1>Realtime Communication Landing Page</h1>

    <h2>Join as a participant</h2>
    <form action="/participant">
      <label for="id">Room ID</label>
      <input type="text" id="id" name="id" />
      <input type="submit" value="Submit" />
    </form>

    <h2>Admin Test Page</h2>
    <form action="/admin">
      <label for="id">Room ID</label>
      <input type="text" id="id" name="id" />
      <input type="submit" value="Submit" />
    </form>

    <h2>Control Page</h2>
    <form action="/control">
        <button type="submit">Go To Control Page</button>
    </form>

    <h2>Login as Admin</h2>
    <form action="/login">
        <button type="submit">Login as Administrator</button>
    </form>
  </body>
</html>
