<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/login.css">
    <title>Admin Login</title>
    <meta charset="UTF-8">
</head>

<body style="margin: 20px;">
    <div class="container">
        <img src="/img/logo.png" alt="Logo" class="logo">
        <h1>Login Form</h1>
        <form action="/auth/login" class="validated-form" method="POST" novalidate>
            <input type="hidden" name="id" id="login-service-id">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password">
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
        <!--
        <div class="footer">
            Don't have an account? <a href="#">Sign up</a>
        </div>
    -->
    </div>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const idParam = urlParams.get('id');
        document.getElementById('login-service-id').value = idParam;
    </script>
</body>

</html>