<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="client.css">
    <title>Transcription Viewer</title>
</head>

<body>
    <div>
        <h1>Transcription Viewer <span id="id"></span></h1>
        <div class="button-container">
            <div class="button-box">
                <h2>Language Select</h2>
                <label for="langInputSelect">Select a translation language:</label>
                <select id="langInputSelect">
                    <option value="">None</option>
                    <option value="ar">Arabic</option>
                    <option value="fr">French</option>
                    <option value="de">German</option>
                    <option value="es">Spanish</option>
                    <option value="tr">Turkish</option>
                    <option value="uk">Ukranian</option>
                </select>
            </div>
        </div>
    </div>
    <div class="text-box" id="transcript-text-box">
        <h2>Transcript</h2>
        <ul id="transcript"></ul>
    </div>
    <div class="text-box" id="translation-text-box">
        <h2>Translation</h2>
        <ul id="translation"></ul>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/participant.js"></script>
</body>

</html>