body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.button-container {
    display: flex;
}

.button-box {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-box h2 {
    margin-top: 0;
}

.button-box button {
    display: block;
    margin-bottom: 10px;
}

label[for="audioInputSelect"] {
    display: block;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

label[for="langInputSelect"] {
    display: block;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}


select#audioInputSelect {
    display: block;
    font-size: 1.2em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    background-color: #f2f2f2;
    width: 200px;
    overflow: hidden;
}

select.drop-down-selector {
    display: block;
    font-size: 1.2em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    background-color: #f2f2f2;
}

.start-action {
    width: 100%;
    margin-top: 15px;
    background-color: green;
    color: white;
    font-size: 1em;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
}

.start-action.toggled {
    background-color: red;
}

.stop-action {
    background-color: red;
    color: white;
    font-size: 1em;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
}


/* #deepConnect {
    background-color: green;
    color: white;
    font-size: 1em;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
}
#deepConnect.toggled {
    background-color: red;
} */


.text-box {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    height: 400px;
    overflow-y: scroll;
}

.text-box-large {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    height: 800px;
    overflow-y: scroll;
}

.box h2 {
    margin-top: 0;
}

#transcript {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#transcript>li {
    padding: 0.5rem 1rem;
}

#transcript>li:nth-child(odd) {
    background: #efefef;
}

#translation {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#translation>li {
    padding: 0.5rem 1rem;
}

#translation>li:nth-child(odd) {
    background: #efefef;
}

/* Set the size of the light */
.status-light {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

/* Set the color of the light when it is on */
.on {
    background-color: green;
}

/* Set the color of the light when it is off */
.recording {
    background-color: red;
}

.recording-status {
    margin-bottom: 10px;
    display: none; 
}

#recording-text {
    color: black;
    margin-left: 10px;
}